#boxes > span {
    width: 150px;
    height: 150px;
    border: 5px solid green;
    margin: 10px;
}

body {
    align-items: center;
    flex: auto;
    display: block;
    
}

#output {
    width: 16vw;
    height: 8vw;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#spacebar {
    width: 16em;
}



.row {
    justify-content: center;
}

#row-0 {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#row-1 {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
} 

#row-2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    
}

#row-3 {
    padding-left: 10%;
    padding-right: 10%;
    
    
}

.key {
    width: 4vw;
    height: 4vw;
    margin: 3px;

} 

#output {
    display: block;
    align-items: center;
}